body {
    background-color: lightgray;
}

.pergamino {
    width: 150px;
    height: 150px;
}

.img, .aceptar{
    text-align: center;
}

section {
    width: 1300px;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
    color: rgb(55, 55, 55);
    font-size: 1.2em;
}

h1 {
    color: brown;
    font-size: 2em;
}

p {
    font-size: 1.2em;
    font-style: oblique;
    font-weight: 600;
}

section h2,
h1 {
    text-align: center;
}

.btn {
    border: 1px solid #00ff22;
    padding: 10px;
    background-color: #6cb57e;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    text-align: center;
}

.aceptar{
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn:hover{
    background-color: #589668;  
}